# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env
config/secrets.yaml

# Ignore data directories
data/

# Ignore virtual environments
venv/

# Ignore VSCode settings
.vscode/
